<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':[like]>[dislike] && [like>0],
                'list-group-item-danger':[like]<[dislike] && [dislike>0]}">
  <h3>{{title}}<span class="fa-pull-right postDate">{{create_at}}</span></h3>
  <p>{{content}}</p>
  <button class="btn btn-success" (click)="onLike()"><i class="fas fa-thumbs-up thumbs"></i></button>
  <button class="btn btn-danger ml-2" (click)="onUnlike()"><i class="fas fa-thumbs-down"></i></button>
  <span style="position: absolute;right: 20px;"><button disabled>{{like}} | {{dislike}}</button></span>
</li>
