<div style="text-align:center">
  <h1>
    Welcome to <i class="fab fa-angular"></i>{{ titleProject }}!
  </h1>
</div>
<div class="row">
  <div class="container">
    <h1>Posts</h1>
    <app-post-list></app-post-list>
  </div>
</div>
