<div class="row">
  <div class="container">
    <ul class="list-group">
      <app-post-list-items *ngFor="let post of posts"
                           [title]="post.title"
                           [content]="post.content"
                           [like]="post.loveIts"
                           [dislike]="post.dontLove"
                           [create_at]="post.created_at | date:'MM/dd/y, hh:mm a'">
      </app-post-list-items>
    </ul>
  </div>
</div>
